#homeDiv {
	background: #FFF;
	padding-top: 100px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
}

#homeDiv input,
#homeDiv button {
	margin: 0;
	vertical-align: middle;
	margin-left: -5px;
}

#homeDiv>div>input,
#homeDiv>div>div {
	margin-top: 1px;
}

#home-searchtype {
	text-align: left;
}

#home-searchtype>a {
	text-align: left;
}

#home-searchtype ul {
	width: auto;
}

#home-searchtype ul li a {
	cursor: pointer;
}

#home-searchtype span.home-searchval {
	width: 50px;
	display: inline-block;
}

#home-search {
	border-radius: 0;
	max-width:450px;
	width: 85%;
	display: inline-block;
}

#searchResults {
	width: 100%;
	margin: 0 auto;
 	overflow: hidden;
 	background: #FFF;
}

