#homeDiv {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

#search {
	min-width:400px;
	width: 40%;
}

#resultsDiv {
	text-align: center;
}

#resultsDiv td {
	text-align:left;
	width: 30%;
}

#resultsDiv .brand {
	width: 30%;
}

#resultsTable {
	margin:20px auto;
}
