#login {
	float:right;
	margin-top:10px;
	display: inline-block;
}

#login .login-link-text {
	text-decoration:none;
}

#menu {
	padding:0 30px;
}

#menu>a {
	margin-top:10px;
	display: inline-block;
}

#mainContent {
	text-align:center;
}

#footer {
	text-align: right;
	background:#EEE;
	width: 100%;
	padding: 5px 10px;
	margin-top: 100px;
	border-top: 1px solid #CCC;
}

a.brand {
 color: gray;
}

span.rating {
	height:24px;
	width:24px;
	display: inline-block;
	background-image: url('/rating/heart_empty.svg');
	bachgroun-position: center center;
	background-size: 24px 22px;
	background-repeat: no-repeat;
}

span.rating.x10 {
	background-image: url('/rating/rating_10_border.png');
}

span.rating.x20 {
	background-image: url('/rating/rating_20_border.png');
}

span.rating.x30 {
	background-image: url('/rating/rating_30_border.png');
}

span.rating.x40 {
	background-image: url('/rating/rating_40_border.png');
}

span.rating.x50 {
	background-image: url('/rating/heart_half.svg');
}

span.rating.x60 {
	background-image: url('/rating/rating_60_border.png');
}

span.rating.x70 {
	background-image: url('/rating/rating_70_border.png');
}

span.rating.x80 {
	background-image: url('/rating/rating_80_border.png');
}

span.rating.x90 {
	background-image: url('/rating/rating_90_border.png');
}

span.rating.x100 {
	background-image: url('/rating/heart_full.svg');
}

span.wishstar {
	height:24px;
	width:24px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('/rating/star_empty.svg');
	background-position: center center;
	background-size: 24px 22px;
	background-repeat: no-repeat;
	cursor: pointer;
}

span.wishstar.x100 {
	background-image: url('/rating/star_full.svg');
}

div.autocomplete {
	display:block;
	position:fixed;	
	z-index:100;
}

div.autocomplete.hide {
	display:none;
}

ul.nofoods-autocomplete {
	top: 0;
	left: 0;
	width:auto;
	background: #FFF;
	border: 1px solid #DDD;
	position:absolute;
	list-style-type: none;
	padding: 2px;
	z-index: 100;
}

ul.nofoods-autocomplete li {
	padding: 2px 3px;
}

ul.nofoods-autocomplete li.selected {
	background: #0088cc;
}
