#login {
	float:right;
	margin-top:10px;
	display: inline-block;
}

#login .login-link-text {
	text-decoration:none;
}

#menu {
	padding:0 30px;
}

#menu>a {
	margin-top:10px;
	display: inline-block;
}
