@media only screen and (max-width: 992px) 
{
    .nav-tabs li
    {
      width:100%!important;
    }
    #mainContent.default .tab-content .tab-pane
    {
    	display:block!important; 
    }
    div.content.middle 
    {
    	min-width: 0!important;
    	width:100%!important;
    }
    #notificationsList {
			width: 100%!important;
		}
    span.rating {
    	height: 49px!important;
    	width: 49px!important;
    	background-size: 48px 44px!important;
    }

}