#login {
	float:right;
	margin-top:10px;
	display: inline-block;
}

#login .login-link-text {
	text-decoration:none;
}

#menu {
	padding:0 30px;
}

#menu>a {
	margin-top:10px;
	display: inline-block;
}

span.rating {
	height:22px;
	width:22px;
	display: inline-block;
	background-image: url('/rating/rating_border.png');
	bachgroun-position: center center;
	background-size: 24px 24px;
	background-repeat: no-repeat;
}

span.rating.x10 {
	background-image: url('/rating/rating_10_border.png');
}

span.rating.x20 {
	background-image: url('/rating/rating_20_border.png');
}

span.rating.x30 {
	background-image: url('/rating/rating_30_border.png');
}

span.rating.x40 {
	background-image: url('/rating/rating_40_border.png');
}

span.rating.x50 {
	background-image: url('/rating/rating_50_border.png');
}

span.rating.x60 {
	background-image: url('/rating/rating_60_border.png');
}

span.rating.x70 {
	background-image: url('/rating/rating_70_border.png');
}

span.rating.x80 {
	background-image: url('/rating/rating_80_border.png');
}

span.rating.x90 {
	background-image: url('/rating/rating_90_border.png');
}

span.rating.x100 {
	background-image: url('/rating/rating_full_border.png');
}
