div.content {
	background: #FFF;
	border-left: 2px solid #EEE;
	border-right: 2px solid #EEE;
	text-align: left;
	width:70%;
	max-width:1000px;
	min-height: 700px;
	padding: 5px 5px 0 5px;
	margin:0 auto;
	box-shadow: 0 5px 5px 2px #444;
	-moz-box-shadow: 0 5px 5px #444;
	-webkit-box-shadow: 0 5px 5px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#444444, Strength=5, Direction=90),
     			progid:DXImageTransform.Microsoft.Shadow(Color=#444444, Strength=5, Direction=180)
}

div.content>h3 {
	margin-top:0px;
}

div.alertmessage {
	display: none;
	position:absolute;
}

div.searchbar {
	vertical-align: middle;
	padding: 10px 5px 10px 5px;
	background: #EEE;
	border: 1px solid #CCC;
	background: #EEE;
}

div.searchbar span {
	vertical-align: middle;
}

div.searchbar div.btn-group>a {
	height: 20px;
	border-right: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

div.searchbar input {
	vertical-align: middle;
	margin-bottom: 0;
	border-right: 0;
	border-left: 0;
	-webkit-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-radius: 0;
}

div.searchbar button {
	border-left: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

div.contentbody {
	overflow:hidden;
	padding: 10px;
}

div.image {
	display: inline-block;
	float: right;
	height: 150px;
	width: 200px;
	border: 1px solid #000;
}

span.name {
	display: inline-block;
	vertical-align: middle;
	font-size:32px;
	margin: 10px 10px 10px 0;
}

span.name.lower {
	font-size:14px;
}

span.brand {
	display: block;
	vertical-align: middle;
	font-size:24px;
	margin: 10px 0 50px 0;
	color: #808080 !important;
}

span.brand a {
	color: #808080 !important;
}

label.inputlabel {
	font-weight: bold;
}

div.ratingDiv {
	display: inline-block;
}

div.ratingDiv span.rating {
	vertical-align: middle;
}

span.totalRating {
	color: #428bca;
	margin: 0 5px;
	font-size: 18px;
	vertical-align: middle;
}

span.totalCount,
span.ratingdivider {
	font-size: 18px;
	vertical-align: middle;
}

div.content label {
	font-weight: bold;
}

div.nofoods-autocomplete.message {
	display:inline-block;
}
