div.tab-pane {
	width: 100%;
}

div.myrating {
	width: 100%;
}

span.name {
	display: inline-block;
	vertical-align: middle;
	font-size:32px;
	margin: 10px 10px 10px 0;
}

span.name.lower {
	font-size:14px;
}

span.brand {
	display: block;
	vertical-align: middle;
	font-size:24px;
	margin: 10px 0 50px 0;
	color: #808080 !important;
}

span.brand a {
	color: #808080 !important;
}

label.inputlabel {
	font-weight: bold;
}

span.totalRating {
	color: #255daf;
	margin: 0 5px;
	font-size: 18px;
	vertical-align: middle;
}

span.totalCount,
span.ratingdivider {
	font-size: 18px;
	vertical-align: middle;
}

div.content label {
	font-weight: bold;
}

div.images .contentbody {
	text-align: center;
}

div.images div.upload {
	text-align: center;
	margin-bottom: 10px;
}

div.contentbody .mainimage {
	max-height: 200px;
	max-width:  200px;
}

div.image {
	display: inline-block;
	float: right;
	height: 200px;
	width: 250px;
	border: 1px solid #000;
}

div.imagesbutton {
	display: block;
	text-align: center;
	min-height: 50px;
	line-height: 50px;
	background: #255DAF;
	margin-top: 10px;
	cursor: pointer;
	opacity: .9;
}

div.imagesbutton:hover {
	opacity: 1;
}

div.imagesbutton span {
	color: #FFFFFF;
	font-size: 24px;
	vertical-align: middle;
	cursor: pointer;
}

/* Menu row */
div.side-section {
	display: inline-block;
	width: 18%;
	min-height: 600px;
	height: 100%;
	position: relative;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

div.side-section.left {
	text-align: right;
}

div.side-section.right {
	text-align: left;
}

div.side-section .nofoods-pagenav {
	margin: 45px 0 0 0;
	border-right: 2px solid #255DAF;
}