.row div.left {
	text-align: right;
}

.row div.right {
	text-align: left;
}

#myfoods-nav {
	width: auto;
	position: relative;
	min-width: 130px;
	margin-right:10px;
	vertical-align: top;
	display:inline-block;
}

#myfoods-pages {
	vertical-align: top;
	display:inline-block;
	width: 100%;
	min-height: 520px;
	position: relative;
}

#myfoods-pages a.remove {
	margin-left:10px;
}

#myfoods-pages h3 {
	margin: -10px	0 0 0;
}

#myfoods-pages .ratingsearch {
	width: 200px;
	margin: 10px 0;
}

#myfoods-pages .tab-pane {
	height: auto;
}

div.myrating>span {
	vertical-align: middle;
	margin:0;
}

#myfoods-profile>span {
	display: block;
}

#myfoods-profile span.date {
	margin-bottom: 15px;
	font-size: 18px;
}

#myfoods_wishlist {
	display: block;
}

div.pagetitle {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
}

span.brand.myfoods {
	display: inline-block;
	font-size:14px;
}

div.achievement {
	display:inline-block;
	width: 290px;
	text-align: left;
	padding: 4px;
	background: rgb(240,248,255);
	border: 2px solid #800000;
	margin-bottom: 10px;
	margin-right: 20px;
	/*-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;*/
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.75);
}

div.achievement img {
	vertical-align: top;
	display:inline-block;
	height: 80px;
	width: 80px;
}

div.achievement div.info {
	display:inline-block;
	width: 200px;
	margin-left:5px;
}

div.achievement div.title {
	font-weight: 700;
}

div.achievement div.date,
div.achievement div.progress {
	color: green;
	margin-bottom: 4px;
}

div.achievement div.description {
	color: #222222;
}

span.achievementPoints {
	display: inline-block;
	color: #DAA520;
	margin-left: 10px;
}
