#myfoods-nav {
	width: auto;
	min-width: 130px;
	margin-right:10px;
	vertical-align: top;
	display:inline-block;
}

#myfoods-pages {
	vertical-align: top;
	display:inline-block;
}

#myfoods-pages a.remove {
	margin-left:10px;
}

#myfoods-pages h3 {
	margin: -10px	0 0 0;
}

#myfoods-pages .ratingsearch {
	width: 200px;
	margin: 10px 0;
}

div.myrating>span {
	vertical-align: middle;
	margin:0;
}

#myfoods-profile>span {
	display: block;
}

#myfoods-profile span.date {
	margin-bottom: 15px;
}

#myfoods_wishlist {
	display: block;
}

span.pagetitle {
	display: block;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

span.brand.myfoods {
	display: inline-block;
	font-size:14px;
}
