span.rating {
	cursor:pointer;
}

span.rating.selected {
	color:red;
	font-weight:bold;
}

#foodsadd-food,
#foodsadd-drink,
label[for='foodsadd-food'],
label[for='foodsadd-drink'] {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

#foodsadd-map {
	height: 300px;
	width: 550px;
}

#save {
	margin-top: 10px;
	display: block;
}
