span.rating {
	cursor:pointer;
}

span.rating.selected {
	color:red;
	font-weight:bold;
}

#foodsadd-typeselect .btn {
	width:75px;
}

#foodsadd-typeselect .btn.selected {
	color: #FFFFFF;
	background: #255DAF;
}

#foodsadd-name,
#foodsadd-brand {
	width: 250px;
}

div.input-spacing,
#foodsadd-name,
#foodsadd-brand {
	margin-bottom: 15px;
}

#foodsadd-drinkType {

}

#foodsadd-map {
	height: 300px;
	width: 550px;
}

#save {
	margin-top: 15px;
	display: block;
}
