#resultsDiv {
	text-align: center;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

#searchTabs {
	min-width: 120px;
	display: inline-block;
	vertical-align: top;
}

#searchTabsContent {
	max-width:1000px;
	min-width:70%;
	display: inline-block;
	margin-left: 15px;
	overflow: hidden;
}

#searchTabsContent div.resultsTotals {
	color: gray;
	text-align: left;
}

#searchTabsContent div.item {
	text-align: left;
}

#searchTabsContent span.itemIcon {
	width:80px;
	height:80px;
	vertical-align: top;
	display:inline-block;
}

#searchTabsContent span.itemIcon.large {
	height:160px;
}

#searchTabsContent span.itemName {
	font-size:24px;
	vertical-align: top;
	display:inline-block;
}

#searchTabsContent span.itemBrand {
	font-size:18px;
	display:block;
}

#searchTabsContent span.itemRating {
	float: right;
	vertical-align: top;
	display: inline-block;
}

#searchTabsContent span.itemRating {
	float: right;
	vertical-align: top;
	display: inline-block;
}

#searchTabsContent div.search-results {
	width:100%;
	position:relative;
}

#searchTabsContent div.search-paging.pagingdiv {
	width:100%;
	position:relative;
}